# Dépendances Python pour le projet SmartTech Streaming
# Note : pyspark est déjà inclus dans l'image apache/spark-py:latest (Spark 3.4.0)
# Il n'est donc pas listé ici pour éviter les conflits de version
delta-spark==2.4.0
kafka-python==2.0.2
jupyter==1.0.0
findspark==2.0.1
pandas==2.1.0
numpy==1.24.3
python-dotenv==1.0.0

